<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jikejishu.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.jikejishu.model.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="gender" property="gender" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, age, gender
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="findByUser" resultMap="BaseResultMap" parameterType="com.jikejishu.model.User">
        select
        <include refid="Base_Column_List"/>
        from user where gender=#{gender} and age=#{age};
    </select>
</mapper>